<!doctype html>
<html>
  <head><!-- Favicon -->
    <link rel="shortcut icon" href="http://apps-production.s3.amazonaws.com/static/images/favicon.ico" type="image/x-icon">

    <!-- Social sharing meta -->
    <meta property="og:title" content="I got <%= player %>! Which Seahawk are YOU?">
    <meta property="og:site_name" content="The Seattle Times">
    <meta property="og:image" content="<%= grunt.data.json.project.url%>/assets/<%= image %>">
    <meta property="og:type" content="article">
    <meta property="og:url" content="<%= grunt.data.json.project.url%>/<%= name %>.html">
    <meta property="og:description" content="Take the Seattle Times' personality quiz and find out.">

    <!-- BEGIN TWITTER SUMMARY CARD -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="I got <%= player %>! Which Seahawk are YOU?">
    <meta name="twitter:site" content="@seattletimes">
    <meta name="twitter:image" content="<%= grunt.data.json.project.url%>/assets/<%= image %>">
    <meta name="twitter:url" content="<%= grunt.data.json.project.url %>">
    <meta name="twitter:description" content="I got <%= player %>! Which Seahawk are YOU?">
    
    <noscript>
      <!-- meta refresh -->
    </noscript>
    <script>
      window.location = "<%= grunt.data.json.project.url %>";
    </script>
  </head>
</html>